<form ng-submit="criminals.addCriminal()" id="newCriminal">
    <div>
      <label for="newCriminal-name">Name:</label>
      <input type="text" id="newCriminal-name" ng-model="criminals.newCriminal.name" placeholder="Prof. Moriarty">
    </div>
    <div>
      <label for="newCriminal-location">Crime:</label>
      <input type="text" id="newCriminal-crime" ng-model="criminals.newCriminal.crime" placeholder="Reichenbach Falls, CH">
    </div>
    <div>
      <input type="submit" value="Add Criminal">
    </div>
  </form>
