body {
  padding: 10px 20% 10px;
  text-align: center;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/cb/e8/44/cbe844b07f2e543eb064fa682214c97b.jpg");
}
/* yes the background is tiled on purpose, I mean who doesnt like wile E. coyote*/


body, h1{
  font-family: verdana;
  font-style: italic;
}
main {
  padding: 10px;
  border: 1px black solid;
  border-radius: 25px;
  background-color: #EEEEEE;
}

main section {
  padding: 0 30% 0;
  font-size: 3em;
}

main section button {
  height: 3em;
  min-width: 5em;
  border-radius: 25px;
}





